{% extends 'base.html' %}

{% block content %}

 <div class="container" >
<div class="container" >
      <h2>Board</h2>

        </br></br>
    <ul class="list-group">
        {% for p in boards %}
          <li class="list-group-item d-flex justify-content-between align-items-center" style="padding: 0.8rem 1.25rem; font-weight: 500;" >
              <a style="color:#666; display: block !important;" href="board/"><span style="color:#888;font-weight: 400;">[{{p.category}}]</span>  {{p.name}}</a>
            <span class="badge badge-primary badge-pill" style="background-color: #78c2adf2;">2</span>
          </li>
        {% endfor %}

  </li>
</ul>
</div>


</div>

{% endblock %}