{% extends 'base.html' %}

{% block content %}

 <div class="container" >
<div class="container" >
<div>
    <h1 align="center">Blog</h1>
    <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">


      </div>
    </div>
    </header>
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Title of a longer featured</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
<br>


<h2>Board</h2>
    <ul class="list-group">
        {% for p in boards %}
          <li class="list-group-item d-flex justify-content-between align-items-center" style="padding: 0.8rem 1.25rem; font-weight: 500;" >
              <a style="color:#666; display: block !important;" href="board/{{ p.id }}"><span style="color:#888;font-weight: 400;">[{{p.category}}]</span>  {{p.name}}</a>
            <span class="badge badge-primary badge-pill" style="background-color: #78c2adf2;">2</span>
          </li>
        {% endfor %}

  </li>
</ul>
    <br><br><br><br><br><br>
</div>


</div>
 </div>

{% endblock %}