{% extends 'base.html' %}

{% block content %}


    <div class="container" >

      <!--<form>
        <fieldset>
            <legend>Board</legend>
            </br>
            <div class="form-group">
              <label for="exampleInputEmail1">게시판 이름</label>
              <input type="board" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter board name">
            </div>
            <div class="form-group">
              <label for="exampleTextarea">게시판 설명</label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">카테고리</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </fieldset>
         <ol class="breadcrumb"style="background-color: #f3969a;">
        <li class="breadcrumb-item active" >Home</li>
    </ol>
      </form>-->
<h2>Board</h2>
        <button onclick="location.href='http://127.0.0.1:8000/myweb/board/new'" style="float: right;" type="button" class="btn btn-outline-secondary "> new </button>
        </br></br>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">name</th>
      <th scope="col">category</th>
    </tr>
  </thead>
  <tbody>
  {% for p in boards %}
    <tr>
      <th scope="row">{{p.id}}</th>
      <td>{{p.name}}</td>
      <td>{{p.category}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>

    </div>

  {% endblock %}
