{% extends 'base.html' %}

{% block content %}
    <div class="container" >

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>E HYEON LIM</h1>

              </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
            <p class="lead">Instagram: @2_hyeonney0_0</p>
              <p class="lead">E-mail: e_hyeon98@kookmin.ac.kr</p>
          </div>
        </div>
      </div>



    </div>
{% endblock %}
