{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{object.title}}</h1>

        <!-- Date/Time -->
        <p style="text-align: right; font-size: 1rem; font-weight: 500; color: #5a5a5a">{{object.date}}</p>

        <hr>

        <!-- Preview Image
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">



        <hr>-->

        <!-- Post Content -->
        {{object.content}}
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">{{Comment.writer}}</h5>
            {{Comment.writer}}
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">

          <div class="media-body">
            <h5 class="mt-0">{{Comment.writer}}</h5>
            {{Comment.content}}
            <div class="media mt-4">

              <div class="media-body">
                <h5 class="mt-0">{{Comment.writer}}</h5>
                {{Comment.content}}
              </div>
            </div>
            <br><br><br><br>


          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}