{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{project.title}}</h1>

        <!-- Date/Time -->

        <p class="lead" style="text-align: right; font-size: 1rem; font-weight: 500; color: #5D5D5D">{{project.date}}<br>likes: {{ project.likes }} | views: {{project.views}} </p>

        <hr>

        <!-- Preview Image
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">



        <hr>-->

        <!-- Post Content -->
        <p>{{project.content | safe}}</p>
        <hr>



         <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form action="{{ pcomment.get_absolute_url }}" method="POST">
              {% csrf_token%}

              {{pcomment_form | crispy}}

<!--              <div class="form-group">-->
<!--                <textarea class="form-control" rows="3"></textarea>-->
<!--              </div>-->
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>



    <!-- Single Comment -->

        <div id=""comment-list>
          {% for c in pcomment  %}
          <div class="card border-secondary mb-3" style="max-width: 50rem;">
            <div class="card-header"style="font-size: 1rem; font-weight: 400;">
              <strong>{{c.writer}}</strong>
            </div>
            <div class="card-body">
              <p class="card-text" style="font-size: 1rem;" >{{c.content }}</p>
              <p class="lead" style="text-align: right; font-size: 0.85rem; font-weight: 100;">{{c.date}}</p>
            </div>
          </div>
          {% endfor %}

<!--
        <div id=""comment-list>
          {% for c in comments  %}
        <!-- Single Comment
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">{{c.writer}}</h5>
            {{c.content}}
          </div>
        </div>
        </div>
        {% endfor %}

<!--        &lt;!&ndash; Comment with nested comments &ndash;&gt;-->
<!--        <div class="media mb-4">-->

<!--          <div class="media-body">-->
<!--            <h5 class="mt-0">{{Comment.writer}}</h5>-->
<!--            {{Comment.content}}-->
<!--            <div class="media mt-4">-->

<!--              <div class="media-body">-->
<!--                <h5 class="mt-0">{{Comment.writer}}</h5>-->
<!--                {{Comment.content}}-->
<!--              </div>-->
<!--            </div>-->
            <br><br><br><br>


          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}