{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


 <div class="container" >
<div class="container" >
<div>
<!--    <h1 align="center">Visitor's book</h1>-->
    <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">


      </div>
    </div>
    </header>
<!--    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">-->
<!--    <div class="col-md-6 px-0">-->
<!--      <h1 class="display-4 font-italic">Title of a longer featured</h1>-->
<!--      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>-->
<!--      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>-->
<!--    </div>-->
<!--  </div>-->
<!--<br>-->


<h1>Visitor's book</h1>
<br><br>

  </li>
</ul>

</div>
    <div class="card my-4"style="max-width: 50rem;">
          <h5 class="card-header">Leave a greeting:</h5>
          <div class="card-body">
            <form action="{{ comment.get_absolute_url }}" method="POST">
              {% csrf_token%}

              {{visitorsBook_form | crispy}}

<!--              <div class="form-group">-->
<!--                <textarea class="form-control" rows="3"></textarea>-->
<!--              </div>-->
              <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
          </div>
        </div>

       <br><br><br>

    {% for p in visitorsBooks %}
    <div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-header">{{ p.date }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ p.writer }}</h5>
    <p class="card-text">{{ p.content }}</p>
  </div>
</div>
{% endfor %}

</div>
 </div>

{% endblock %}