<!DOCTYPE html>
<html>
<head>
  <title>E HYEON'S HOMEPAGE</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Poiret+One" rel="stylesheet">
  <style>
    .padding{
      padding-top: 11rem;
    }
    body{
      font-family: 'Cabin Sketch', cursive;
      background-repeat: no-repeat;
      background-size: cover;
      color:white
    }
    div{
      text-align: center;
    }
    img{
      /*width: 78rem;
      height: 37rem;*/
      width:50%
      height:10%;
    }
  </style>
</head>
<body style="background-image:url('bg1.png')">
<div>
    <br/>
    <br/>
    <br/>
 <h1 class="padding" style="font-size:3.5rem; color:white"><strong>Welcome</strong></h1>
 <h2>E HYEON'S HOMEPAGE</h2>
</div>
</body>
</html>
